@model Category

@{
    ViewBag.Title = "Category Details";
}

<div style="width: 70%; margin-left: 40px">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
            </tr>
        </tbody>
    </table>

    <a class="btn mt-5" style="color: white;background-color: gray" asp-area="Admin" asp-controller="Category" asp-action="Index">Back</a>
</div>