@model Category

@{
    ViewBag.Title = "Edit Category";
}

<form style="margin: 40px 40px" method="post" asp-area="Admin" asp-controller="Category" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" id="Name" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div style="display: flex;" class="mt-5">
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn ml-3" style="color: white; background-color: gray; margin-left: 10px " asp-area="Admin" asp-controller="Category" asp-action="Index">Cancel</a>
    </div>
</form>